*, :after, :before {
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #3ABBEC 0%, #216c9a 60%, #024b75) no-repeat;
  background-size: cover;
}

.bg-black {
  background-color: #000;
}

.glass {
  color: #fff;
  background-color: rgba(255,255,255, 0.05);
  border: none;
  box-shadow: 
    0 3px 3px inset rgba(255,255,255, .5),
    0 0 15px rgba(0,0,0,.15);
  &-white {
    box-shadow: 
    0 3px 3px inset rgba(255,255,255, 1),
    0 0 15px rgba(0,0,0,.2);
    background-color: rgba(255,255,255, .9);
  }
  &-blue {
    background-color: rgba(49, 89, 175, 0.5);
  }
}

.tag {
  display: inline-block;
  border-radius: 2px;
  color: #fff;
  padding: 2px 6px;
  font-size: 12px;
  box-shadow: 0 0 10px rgba(100,100,250,.3);
}